@use "./mixins" as *;

.card {
  display: block;
  cursor: pointer;
  user-select: none;
  font-size: 48px;
  opacity: 0;
  width: 150px;
  height: 150px;
  display: grid;
  place-items: center;
  background-color: #3a3a3a;
  @include transition(opacity, background-color, box-shadow);

  @include bp(t) {
    font-size: 54px;
  }

  &:hover {
    // background-color: rgba(163, 163, 163, 0.3);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  }

  &.active {
    .card-inner {
      transform: rotateY(180deg);
    }
  }

  &-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.4s ease;
    transform-style: preserve-3d;

    &-front,
    &-back {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: grid;
      place-items: center;
      backface-visibility: hidden;
    }

    &-back {
      transform: rotateY(180deg);
    }
  }

  &.hidden {
    background-color: #595959;
    pointer-events: none;

    &:hover {
      // box-shadow: none;
    }
  }

  &.loading {
    animation: fadeIn 0.3s forwards ease;
    animation-delay: calc(var(--order) * 100ms);
  }

  &.shake {
    animation: shake 0.4s forwards ease;
  }
}
