@use "./mixins" as *;

.cards {
  gap: 15px;
  display: flex;
  flex-wrap: wrap;

  @include bp(ts) {
  }

  @include bp(tl) {
  }
}

main {
  max-width: 960px;
  margin-inline: auto;
  padding-inline: 20px;
  overflow: hidden;
}

h1 {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
