@use "./mixins" as *;

.cards {
  gap: 15px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  background-color: #eeeeee;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

main {
  max-width: 355px;
  margin-inline: auto;
  padding-inline: 20px;
  overflow: hidden;

  @include bp(t) {
    max-width: 580px;
  }

  @include bp(ds) {
    max-width: 745px;
  }
}

h1 {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
