@use "mixins" as *;

main.not-playing {
  height: 100svh;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  display: grid;
  place-items: center;
  align-content: center;
  color: white;
  animation: fadeIn 0.3s forwards;

  svg {
    width: 100px;
    height: 100px;
    @include transition(filter);
    filter: drop-shadow(0 0 40px rgba(63, 47, 132, 0));

    path:nth-child(1) {
      fill: #3e2f84;
    }

    &:hover {
      filter: drop-shadow(0 0 40px rgba(77, 59, 156, 1));
    }
  }

  small {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .dropdown {
    position: relative;

    select {
      appearance: none;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid white;
      padding: 10px 20px;
      color: white;
      width: 100%;

      option {
        color: black;
      }
    }

    .svelte-fa {
      position: absolute;
      right: 8px;
      top: 50%;
      width: 12px;
      height: 12px;
      pointer-events: none;
      transform: translateY(-50%);

      path {
        fill: white;
      }
    }
  }

  .createdWith {
    position: absolute;
    bottom: 20px;
    animation: fadeIn 480ms forwards;
  }
}
