@for $i from 1 through 10 {
  .mb-#{$i} {
    margin-bottom: #{$i * 5}px;
  }
}

.max-w-100 {
  max-width: 100%;
}

.overflow-y-auto {
  overflow-y: auto;
}

.inline {
  gap: 12px;
  display: flex;
}
